<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Student Panel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto"> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/users/register">Student Registration</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/student/info">Student Info</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/teacher/info">Teacher Info</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/admin/info">Show All Students</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
      <!-- </ul> -->

    </div>
  </nav>
  <!-- <h4>Welcome to Your Profile.</h4> -->
    <!-- <p>Welcome to your dashboard</p> -->


    <div ><br>
<h3 class="page-header" style="margin-left: 20px;">Welcome to your profile, {{stInfoIndv.firstName}}.</h3><br>
<ul class="list-group" style="margin-left: 20px; margin-right:40px;">

    <li class="list-group-item"><strong>Registration No: </strong>{{stInfoIndv.sregno}}</li>
  <li class="list-group-item"><strong>First Name:  </strong>{{stInfoIndv.firstName}}</li>
  <li class="list-group-item"><strong>Last Name:  </strong>{{stInfoIndv.lastName}}</li>
    <li class="list-group-item"><strong>Username:  </strong>{{stInfoIndv.username}}</li>
      <li class="list-group-item"><strong>Contact No:  </strong>{{stInfoIndv.phoneNo}}</li>
      <li class="list-group-item"><strong>Class: </strong>{{stInfoIndv.class}}</li>
      <li class="list-group-item"><strong>Section: </strong>{{stInfoIndv.section}}</li>
      <li class="list-group-item"><strong>Email: </strong>{{stInfoIndv.email}}</li>
</ul>
</div><br>

<form action="http://localhost:3000" method="get">
  <input type="submit" value="Logout" style="margin-left: 20px;" />
</form>

    <!-- <div><strong>Registration No: </strong>{{stInfoIndv.sregno}}</div>
    <div><strong>First Name: </strong>{{stInfoIndv.firstName}}</div>
    <div><strong>Last Name: </strong>{{stInfoIndv.lastName}}</div>
    <div><strong>Contact No: </strong>{{stInfoIndv.phoneNo}}</div>
    <div><strong>Class: </strong>{{stInfoIndv.class}}</div>
    <div><strong>Section: </strong>{{stInfoIndv.section}}</div>
    <div><strong>Email: </strong>{{stInfoIndv.email}}</div> -->
</body>
